
@media screen and (max-width:376px)
{
    .navigation_bar{
        display: none;
    }

    #home{
        display: block;
        text-align: center;
    }

    #left{
        width: 100%;
        height: 40vh;
    }

    #image-holder{
        top: 5%;
        padding: 0;
        height: 80%;
        width: 70%;
    }

    #right{
        width: 100%;
        height: 60vh;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 5%;
    }

    #right h3{
        text-align: center;
        font-size: 20px;
        font-weight: 10000;
        
    }

    #right p{
        padding: 5px;
        top: 0;
        margin: 0;
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 16px;
    }
    
    #about-page{
        padding: 0;
    }

    #about-page p{
        padding: 2.5px;
        font-size: 13.5px;
        top: 3%;

    }

    #skill-card{
        display:block;
    }

    #skills-page{
        height: 325vh;
    }

    #skill-card{
        display: block;
        top: 1%;
    }

    .card{
        top:0;
        width: 80%;
        height: 90%;
        position: relative;
        left: 10%;
        
    }

    .experience{
        width: 90%;
        height: 50%;
        background-color: rgba(255, 225, 255, 0.2);
        margin: 12px;
        text-align: center;
        padding: 0;
        border: inset 2px lightblue;
    }

    #interests-page{
        display: block;
        height: 170vh;
    }

    #articles{
        width: 100%;
        height: 100vh;
    }

    #article-links{
        width: 100%;
        height: 100vh;
        padding: 5px;
    }

    #myInterests{
        width: 100%;
        padding: 0;
        height: 80vh;
    }

    #myInterests p{
       top: 5%;
       padding: 5px;
    }

    
    #myInterests h3{
        top: 5%;
     }

    #git-div{
        height: 180vh;
    }

}

/*=======================================================================================================*/

@media screen and (min-width:376px) and (max-width:426px){

    .navigation_bar{
        display: none;
    }

    #home{
        display: block;
    }

    #left{
        width: 100%;
        height: 40vh;
    }

    #image-holder{
        top: 5%;
        height: 97%;
        width: 90%;
    }

    #right{
        width: 100%;
        height: 60vh;
        padding: 0;
        margin: 0;
    }

    #more{
        padding: 5px;
        top: 0;
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 16px;
    }

    #right p{
        
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 13.5px;
    }

    

    #about-page{
        padding: 0;
    }

    #about-page p{
        padding: 10px;
        margin: 0;
        position: relative;
        top: 3%;
        left: 10%;
        width: 80%;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 13.5px;
    }

    #skills-page{
        height: 325vh;
    }

    #skill-card{
        display: block;
        top: 1%;
    }

    .card{
        top:0;
        width: 80%;
        height: 90%;
        position: relative;
        left: 10%;
    }

    .experience{
        width: 90%;
        height: 50%;
        background-color: rgba(255, 225, 255, 0.2);
        margin: 12px;
        text-align: center;
        padding: 0;
        border: inset 2px lightblue;
    }

    #interests-page{
        display: block;
        height: 170vh;
    }

    #articles{
        width: 100%;
        height: 80vh;
    }

    #article-links{
        width: 100%;
        height: 100vh;
        padding: 5px;
    }

    #myInterests{
        width: 100%;
        padding: 0;
        height: 80vh;
    }

    #git-div{
        height: 180vh;
    }

    
}

@media screen and (min-width:425px) and (max-width:769px){

    .navigation_bar{
        display: none;
    }

    #home{
        display: block;
    }

    #left{
        width: 100%;
        height: 60vh;
    }

    #image-holder{
        top: 5%;
        height: 97%;
        width: 90%;
    }

    #right{
        width: 100%;
        height: 40vh;
        padding: 0;
        margin: 0;
    }

    #about{
        top: 10%;
        padding:5px;
    }

    #more{
        padding: 5px;
        top: 0;
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 20px;
    }

    #right p{
        
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 13.5px;
    }

    #about-page{
        padding: 0;
        height: 80vh;
    }

    #about-page p{
        padding: 10px;
        margin: 0;
        position: relative;
        top: 3%;
        left: 10%;
        width: 80%;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 18px;
    }

    #skills-page{
        height: 370vh;
    }

    #skill-card{
        display: block;
        top: 1%;
      
    }

    .card{
        top:0;
        width: 80%;
        height: 90%;
        position: relative;
        left: 10%;
    }


    .preview
    {
        width: 95%;
    }
    .experience{
        width: 95%;
        height: 50%;
        background-color: rgba(255, 225, 255, 0.2);
        margin: 12px;
        text-align: center;
        padding: 0;
        border: inset 2px lightblue;
    }

    #interests-page{
        display: block;
        height: 170vh;
    }

    #articles{
        width: 100%;
        height: 80vh;
    }

    #article-links{
        width: 100%;
        height: 100vh;
        padding: 5px;
    }

    #myInterests{
        width: 100%;
        padding: 0;
        height: 80vh;
    }

    #git-div{
        height: 140vh;
    }

    
}

@media screen and (min-width:769px) and (max-width:1081px){

    .navigation_bar{
        display: none;
    }

    #home{
        display: block;
    }

    #left{
        width: 100%;
        height: 60vh;
    }

    #image-holder{
        top: 5%;
        height: 97%;
        width: 90%;
    }

    #right{
        width: 100%;
        height: 40vh;
        padding: 0;
        margin: 0;
    }

    #about{
        top: 10%;
        padding:5px;
    }

    #more{
        padding: 5px;
        top: 0;
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 20px;
    }

    #right p{
        
        text-align: center;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 13.5px;
    }

    #about-page{
        padding: 0;
        height: 80vh;
    }

    #about-page p{
        padding: 10px;
        margin: 0;
        position: relative;
        top: 3%;
        left: 10%;
        width: 80%;
        font-weight: 100;
        font-family: sans-serif;
        font-size: 18px;
    }

    #skills-page{
        height: 340vh;
    }

    #skill-card{
        display: block;
        top: 1%;
      
    }

    .card{
        top:0;
        width: 80%;
        height: 90%;
        position: relative;
        left: 10%;
    }


    .preview
    {
        width: 95%;
    }
    .experience{
        width: 95%;
        height: 50%;
        background-color: rgba(255, 225, 255, 0.2);
        margin: 12px;
        text-align: center;
        padding: 0;
        border: inset 2px lightblue;
    }

    #interests-page{
        display: block;
        height: 170vh;
    }

    #articles{
        width: 100%;
        height: 80vh;
    }

    #article-links{
        width: 100%;
        height: 100vh;
        padding: 5px;
    }

    #myInterests{
        width: 100%;
        padding: 0;
        height: 80vh;
    }

    #git-div{
        height: 140vh;
    }

    
}


